@use "@/styles/mixins" as *;
@import "@/styles/variables";

.userTable {
  width: 100%;
  border-collapse: collapse;
  font-size: $font-size-xs;
  font-family: "Work Sans", "Source Sans Pro", "Nunito Sans", "Open Sans", Arial,
    sans-serif;
  table-layout: auto;
  th,
  td {
    padding: $spacing-md;
    text-align: left;
    border-bottom: 1px solid $border-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    font-weight: bold;
    color: $text-color;
    text-transform: uppercase;
    font-size: $font-size-xs;
    vertical-align: middle;
  }

  .headerCell {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
  }

  tr:hover {
    background-color: rgba($secondary-color, 0.05);
  }

  .viewButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: $spacing-xs;
  }

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    thead {
      display: none;
    }

    tbody {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-md;
      width: 100%;
    }

    tr {
      display: block;
      width: 100%;
      max-width: 500px;
      background-color: $light-text;
      border: 1px solid $border-color;
      border-radius: $border-radius-md;
      box-shadow: $shadow-sm;
      overflow: hidden;
    }

    td {
      display: block;
      text-align: left;
      position: relative;
      border-bottom: 1px solid $border-color;
      word-break: break-word;
      white-space: normal;

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        position: absolute;
        left: $spacing-md;
        font-weight: 600;
        text-transform: uppercase;
        font-size: $font-size-xs;
        color: $text-color;
      }
    }
  }
}
